* {
  font:Colfax-Light
}

.screen { 
  width: 100%; 
  height: 100%; 
  viewport-fill: black;
}

.bgb {
  opacity: 0.4;
  fill:grey;
  width: 100%-10; 
  height: 12%; 
  x: 5; 
  y: $+5; 
}

.fgb { 
  width: 90%-10; 
  height: 12%; 
  x: 5; 
  y: $+5; 
}

.bt {
  fill: black;
  width: 100%-10; 
  height: 12%; 
  x: 5; 
  y: $+5; 
}
