* {
  font:Colfax-Light
}

.screen { 
  width: 100%; 
  height: 100%; 
  viewport-fill: black;
}

.bgb {
  opacity: 0.5;
  fill:grey;
  width: 100%; 
  height: 12%; 
  x: 5; 
  y: $+5; 
}

.fgb { 
  width: 90%-10; 
  height: 12%; 
  x: 5; 
  y: $+5; 
}

.bt {
  fill: black;
  width: 100%-10; 
  height: 12%; 
  x: 45; 
  y: $+5; 
}

.ic {
  fill: black;
  width: 25; 
  height: 25; 
  x: 10; 
  y: $+16; 
}


.hrzb {
  fill: #660208;
  opacity: 0.4;
  width: 25; 
  height: 10; 
  x: $+2; 
  y: 90; 
}


#resting{
  width: 47%;
}

#fatbutn{
  width: 20%;
}

#cardio{
  width:14%;
}

#peak{
  width: 25%;
}

.sb {
  fill: #182113;
  opacity: 0.2;
  width: 25; 
  height: 10; 
  x: $+2; 
  y: 130; 
}


#deep{
  width: 32%;
}

#light{
  width: 32%;
}

#rem{
  width: 31%;
}

.tss {
  fill: #B1F2F6;
  opacity: 0.4;
  width: 220; 
  height: 10; 
  x: $+2; 
  y: 8; 
}


/* 
color palette inspiration
https://coolors.co/app/247ba0-70c1b3-b2dbbf-f3ffbd-ff1654 
*/


.bg1 {
  fill: #247BA0;
  /*#B1F2F6*/
}

.bg2 {
  fill: #70C1B3
  /*#B5F9F7*/
}

.bg3 {
  fill: #FF1654
  /*
  #FFA6BD - light
  #660208 - Dark
  */
}

.bg4 {
  fill: #F3FFBD
  /*#182113*/
}

.bg5 {
  fill: #B2DBBF
  /*#DCFBE8*/
}

.bg6 {
  fill: #97C170
  /*#DAF9B0*/
}

.bg7 {
  fill: #FFB73D
  /*#FFEB71*/
}